:root {
  --ion-color-cifu: #38f8ff;
  --ion-color-client: #ff7c09;
}
.cifu-bg {
  --ion-background-color: var(--ion-color-cifu);
  background-color: var(--ion-background-color);
}
.client-bg {
  --ion-background-color: var(--ion-color-client);
  background-color: var(--ion-background-color);
}

.CifuPage {
  --ion-color-secondary: #38f8ff;
  --ion-color-secondary-rgb: 56, 248, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #31dae0;
  --ion-color-secondary-tint: #4cf9ff;
}

.ClientPage {
  --ion-color-secondary: #ff7c09;
  --ion-color-secondary-rgb: 255, 124, 9;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e06d08;
  --ion-color-secondary-tint: #ff8922;
}

.rounded {
  border-radius: 1em;
}
